version: '3'

services:
  consignment-service:
    build: ./consignment-service
    ports:
      - 33779:33779
    environment:
      MICRO_ADRESS: ":33779"
      MICRO_REGISTRY: "mdns"
      DB_HOST: "datastore:27017"
  consignment-cli:
    build: ./consignment-cli
    environment:
      MICRO_REGISTRY: "mdns"
  vessel-service:
    build: ./vessel-service
    ports:
      - 33780:33780
    environment:
      MICRO_ADRESS: ":33780"
      MICRO_REGISTRY: "mdns"
      DB_HOST: "datastore:27017"
  user-service:
    build: ./user-service
    ports: 
      - 33781:33781
    environment: 
      MICRO_ADRESS: ":33781"
      MICRO_REGISTRY: "mdns"
  datastore:
    image: mongo
    ports:
      - 27017:27017
  database:
    image: postgres
    ports: 
      - 5432:5432
